In [37]:
import csv
import requests
import json
import pandas as pd

import os
from pathlib import Path
from dotenv import load_dotenv

# Get the base directory
basepath = Path()
basedir = str(basepath.cwd())
# Load the environment variables
envars = basepath.cwd() / '.env'
load_dotenv(envars)
# Read an environment variable.
API_TOKEN = os.getenv('API_TOKEN')

In [52]:
response = requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&apikey={0}".format(API_TOKEN))
data = json.loads(response.text)
print(data.keys())

def get_daily_data_string(symbol):
    return "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={0}&apikey={1}".format(symbol,API_TOKEN)

dict_keys(['Meta Data', 'Time Series (Daily)'])

In [20]:
import os
from os.path import join, dirname
# from dotenv import load_dotenv

# load_dotenv(verbose=True)

# dotenv_path = join(dirname(__file__), '../.env')
# load_dotenv(dotenv_path)

DSN = os.getenv('API_TOKEN')

print(DSN)

None

In [41]:
dataset = pd.read_csv('東証上場銘柄_202012.csv')

In [46]:
response = requests.get(get_daily_data_string("1301"))

In [43]:
dataset.head()

                                                                                                 表1
日付       コード  銘柄名                     市場・商品区分    33業種コード 33業種区分 17業種コード 17業種区分 規模コード           規模区分
20201230 1301 極洋                      市場第一部（内国株） 50      水産・農林業 1       食品     7      TOPIX Small 2
         1305 ダイワ上場投信－トピックス           ETF・ETN    -       -      -       -      -                  -
         1306 ＮＥＸＴ　ＦＵＮＤＳ　ＴＯＰＩＸ連動型上場投信 ETF・ETN    -       -      -       -      -                  -
         1308 上場インデックスファンドＴＯＰＩＸ       ETF・ETN    -       -      -       -      -                  -

In [48]:
data = json.loads(response.text)

In [49]:
data

{'Error Message': 'Invalid API call. Please retry or visit the documentation (https://www.alphavantage.co/documentation/) for TIME_SERIES_DAILY.'}

In [50]:
get_daily_data_string("1301")

'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=1301&apikey=PRVBM1S3VMMPZRL7'

In [61]:
import quandl
key = 'SjGJvJtk-TbkZpgEkyCk'
quandl.ApiConfig.api_key = key
quandl.ApiConfig.api_version = '2019-04-09'
quandl.ApiConfig.verify_ssl =  False

In [64]:
# 任天堂の株価データを取得する
nintendo = quandl.get('TSE/8893')

/opt/conda/lib/python3.8/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.quandl.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

In [65]:
nintendo

             Open   High    Low  Close     Volume
Date
2013-07-16   70.0   72.0   68.0   71.0  1440100.0
2013-07-17   70.0   71.0   69.0   69.0   789400.0
2013-07-18   70.0   71.0   69.0   70.0   811300.0
2013-07-19   71.0   72.0   68.0   71.0  2377300.0
2013-07-22   73.0   74.0   69.0   71.0  3371500.0
...           ...    ...    ...    ...        ...
2017-12-18  244.0  244.0  240.0  243.0    92200.0
2017-12-19  243.0  243.0  241.0  241.0    45800.0
2017-12-20  241.0  242.0  240.0  241.0    61400.0
2017-12-21  240.0  241.0  239.0  239.0    86100.0
2017-12-22  240.0  242.0  238.0  240.0    98100.0

[1090 rows x 5 columns]