In [1]:
import numpy as np; import pandas as pd
import datetime as dt

In [3]:
df = pd.read_csv('東京大学CSIS、株式会社ナイトレイ/20140808_snsbasedPeopleFlowData_nightley/2013-12-16.csv')

In [6]:
df.head()

,1015,unknown,2013-12-16 00:00:00,35.98297679,139.61399613,home,departure,STAY,8
0,1015,unknown,2013-12-16 08:20:03,35.778026,139.720928,NaN,NaN,STAY,NaN
1,1015,unknown,2013-12-16 08:35:41,35.743737,139.708330,NaN,NaN,MOVE,NaN
2,1015,unknown,2013-12-16 08:40:54,35.702950,139.708482,NaN,NaN,MOVE,NaN
3,1015,unknown,2013-12-16 08:45:00,35.690919,139.700259,NaN,NaN,STAY,NaN
4,1015,unknown,2013-12-16 10:15:00,35.690906,139.698964,NaN,NaN,MOVE,NaN

In [8]:
df.iloc[:,2] = pd.to_datetime(df.iloc[:, 2]) # 日付・時刻
df.iloc[:,4] = df.iloc[:, 4].astype(float)   # 経度:lat
df.iloc[:,3] = df.iloc[:, 3].astype(float)   # 緯度:long

In [9]:
humans = df[(dt.datetime(2013, 12, 16, 7, 0) < df.iloc[:, 2]) & 
            (df.iloc[:, 2] < dt.datetime(2013, 12, 16, 7, 30))]

In [25]:
from ipyleaflet import *